.card-read, .card-noRead{
    display: flex;
    align-items: flex-start;
    background-color: hsl(211, 68%, 94%);
    border-radius: 15px;
    margin-bottom: 0.5rem;
}



.card-read img, .card-noRead img{
    padding: 1rem;
    width: 70px;
}

.card-read{
    background-color: hsl(211, 68%, 94%);
}

.card-read:hover{
    cursor: pointer;
}


.card-noRead{
    background-color: white
}


.notification-read , .notification-notRead {
    font-size: 1.2rem;
}

.notification-read::after{
    content: '  ';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
    margin-left: 5px;
}

.time{
    font-size: 1rem;
    opacity: 0.4;
}

.message{
    color: hsl(219, 14%, 63%);
    font-size: 1.24rem;
    border: 1px solid hsl(219, 14%, 63%);
    text-align:justify;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
}

.message:hover{
    cursor: pointer;
    background-color: hsl(211, 68%, 94%);
}

.nickname{
    color: hsl(224, 21%, 14%);
    cursor: pointer;
}

.type-notification{
    color: hsl(219, 14%, 63%);
}

.link{
    color: hsl(219, 85%, 26%);
}


.link:hover{
   cursor: pointer;
}

a{
    text-decoration: none;
}

.content{
    margin-left: auto;
}