.card{
    display: flex;
    align-items: flex-start;
    background-color: hsl(211, 68%, 94%);
    border-radius: 15px;
    margin-bottom: 0.5rem;
}


.card img{
    padding: 1rem;
    width: 70px;
}


.notification-text{
    font-size: 1.2rem;
}

.time{
    font-size: 1rem;
}

.message{
    font-size: 1.24rem;
    border: 1px solid black;
    text-align:justify;
    padding: 1rem;
}

.nickname{
    color: red
}

.type-notification{
    opacity: 0.7;
}

.link{
    color: blue;
}